*{
    margin: 0;
    padding: 0;
}

body{
    background-image:linear-gradient(to left ,rgba(189, 196, 174, 0.897) , rgb(255, 255, 255) );
}
.navbar{
    background-color:#bbbe9e;
}  
.navbar-nav li a{
    color: white;
}
.footer{
    background-color:#bbbe9e;
}
.card{
    border-radius: 10px;
    align-items: center;
    -webkit-box-shadow: -13px 19px 40px 7px rgba(54,54,54,0.53), 15px 3px 40px 7px rgba(54,54,54,0.53); 
    box-shadow: -13px 19px 40px 7px rgba(54,54,54,0.53), 15px 3px 40px 7px rgba(54,54,54,0.53);
    background-color: #d7dacb;
}
.footer{
    margin-top: 200px;
    display: flex;
    background-color: #bbbe9e;
    justify-content:space-between;
    align-items: center;
    padding: 3rem;
  
}

.footer h3{
    color: #ffffff;
    font-size: small;
}

.vinculos-a{
    text-decoration: none;
}
.footer i{
    padding-right: 40px;
    color:#fff;
    
    
}
